/** REM Mixins */
@function parseInt($n) { /* 2 */
  @return $n / ($n * 0 + 1);
}

@mixin rem($property, $values) {
  $px : (); /* 3 */
  $rem: (); /* 3 */

  @each $value in $values { /* 4 */

    @if $value == 0 or $value == auto { /* 5 */
      $px : append($px , $value);
      $rem: append($rem, $value);
    }

    @else {
      $unit: unit($value);    /* 6 */
      $val: parseInt($value); /* 6 */

      @if $unit == "px" {  /* 7 */
        $px : append($px,  $value);
        $rem: append($rem, ($val / 10 + rem));
      }

      @if $unit == "rem" { /* 7 */
        $px : append($px,  ($val * 10 + px));
        $rem: append($rem, $value);
      }
    }
  }

  @if $px == $rem {     /* 8 */
    #{$property}: $px;  /* 9 */
  } @else {
    #{$property}: $px;  /* 9 */
    #{$property}: $rem; /* 9 */
  }
}

/** Done Mixin */ 
.container {
	margin: 0 auto;
	@include rem(max-width, 1600px);
	width: 100%;
}

.column {
	height: 400px;	
}

.title-content {
	background: #ccc;
}
.cta-1 {
	background: #eee;
}
.cta-2 {
	background: #ddd;
}

nav {
	height: 100%;
	.column { height:auto; }
	h3 { margin-bottom: 0; }
}




div.row:nth-of-type(3n-3) section.main-content {
	background: #ddeeee;
}
div.row:nth-of-type(3n-2) section.main-content {
	background: #eeddee;
}
div.row:nth-of-type(3n-1) section.main-content {
	background: #eeeedd;
}

.site-map {
	background: #ffeeee;
}
.social-media {
	background: #eeffee;
}