/** REM Mixins */
/** Done Mixin */
/* line 42, ../sass/styles.scss */
.container {
  margin: 0 auto;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  max-width: 1600px;
  /* 9 */
  max-width: 160rem;
  /* 9 */
  width: 100%;
}

/* line 48, ../sass/styles.scss */
.column {
  height: 400px;
}

/* line 52, ../sass/styles.scss */
.title-content {
  background: #ccc;
}

/* line 55, ../sass/styles.scss */
.cta-1 {
  background: #eee;
}

/* line 58, ../sass/styles.scss */
.cta-2 {
  background: #ddd;
}

/* line 62, ../sass/styles.scss */
nav {
  height: 100%;
}
/* line 64, ../sass/styles.scss */
nav .column {
  height: auto;
}
/* line 65, ../sass/styles.scss */
nav h3 {
  margin-bottom: 0;
}

/* line 71, ../sass/styles.scss */
div.row:nth-of-type(3n-3) section.main-content {
  background: #ddeeee;
}

/* line 74, ../sass/styles.scss */
div.row:nth-of-type(3n-2) section.main-content {
  background: #eeddee;
}

/* line 77, ../sass/styles.scss */
div.row:nth-of-type(3n-1) section.main-content {
  background: #eeeedd;
}

/* line 81, ../sass/styles.scss */
.site-map {
  background: #ffeeee;
}

/* line 84, ../sass/styles.scss */
.social-media {
  background: #eeffee;
}
